@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.purple{
    color: #6415ff;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    display:flex;
}

li {
    list-style-type:none;
}

p {
    line-height: 1.5;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

h1 {
    font-size: 36px;
    color: #1a202c;
    line-height: 1.25;
}

img {
    width: 100%;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(80, 17, 204);
}

button {
    cursor: pointer;
}


.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}


/* 

NAVIGATION

*/

nav {
    padding-top: 32px;
    display: flex;
}

.nav__logo {
    display:flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: conter;
  margin: 0 auto;
}

.nav__links {
    display:flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    margin-left: 48px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding-top: 4px;
    letter-spacing: 0.35;
    border-bottom: 2px solid transparent;
}

.nav__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: #6415ff;
  transition: all 300ms ease;
  opacity: 0;
}


.nav__link:hover {
text-decoration: underline;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
 text-decoration: none;   
}

.login {
    margin-left: 48px;
}

.container {
    padding: 96px 0;
}

/* 

HEADER 

*/

.section {
    padding: 0 32px;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: 40%;
}

.header__description--para {
    margin: 32px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__email--btn:hover {
  background-color: rgba(60, 13, 153);
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--input::placeholder {
  font-weight: 500;
  color: rgb(158, 170, 189);
}

.header__email--input:hover {
  border-color: rgba(160, 174, 192);
}

.header__email--input:focus,
.header__email--input:active {
  outline: none;
  border-color: rgba(100, 21, 255);
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;
}

.header__customers {
    margin-top: 16px;
    opacity: 0.5;
    padding-right: 128px;
}

header {
  position: relative;
}
.header__blob {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.5;
  width: 256px;
  height: 256px;
  transform: matrix(1, 0, 0, 1, -163, 0);
}

.header__img--wrapper {
    width: calc(100%-40%);
}

.header__img {
    width: 100%;
    max-width: 768px;
}

.container {
    padding: 80px 0;
}

.row__narrow { 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

section { 
    padding: 0 32px;
}

/* 

FEATURES 

*/

#features {
    position: relative;
}

#features .row__narrow{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features .section__title,
#pricing .section__title {
  text-align: center;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40%;
}

.feature {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    padding: 0 24px;
    flex-direction: column;
}

.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature__img--wrapper {
  display: flex;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
}

.feature__img {
  width: 24px;
  height: 24px;
}
.feature__text {
  margin-top: 8px;
  margin-left: 16px;
}

/* 

QUALITY 

*/

#quality .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#quality .section__title,
#values .section__title{
    line-height: 1.25;
}

#quality .btn {
    margin-top: 32px;
}
.quality__description {
    max-width: 576px;
    margin-right: 64px;
}

.quality__description,
.quality__img--wrapper {
    width: 50%;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

/* 

STEPS

*/

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__description, 
.steps__img--wrapper {
    width: 50%;
}

.steps__img {
    z-index: 2;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/* 

VALUES

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#values .btn {
    margin-top: 48px;
}

.value {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.values__description{
    padding: 32px 64px 32px 0;
}

.values__description, 
.values__img {
    width: 50%;
}

#values .section__title {
    margin-top: 16px;
    margin-bottom: 32px;
}

.values__list {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    max-width: none;
    flex-direction: row;
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}

.value:nth-of-type(2) {
    margin-top: 32px;
}

.value__title {
    display: flex;
    align-items: center;
}

.value:nth-child(1) 
.value__img--wrapper {
    background-color: #9ae6b4;
}

.value:nth-child(2) 
.value__img--wrapper {
    background-color: #feb2b2;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.value__img {
    width: 20px;
    height: 20px;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}









@media (max-width: 1280px) {
    .header__img--wrapper {
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 1280px) {
    .header__img {
        max-width: 512px;
    }
}




